<div class="collapse" id="navbarToggleExternalContent" *ngIf="authenticationService.isAuthenticated">
  <div class="bg-dark p-4">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/home">CRUD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Tic Tac Toe</a>
      </li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="authenticationService.isAuthenticated">
  <!-- Navbar content -->
  <a class="navbar-brand" routerLink="/home">Aplicacion Empresarial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">CRUD<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/statistics">Tic Tac Toe</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
